.button {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.button:hover {
  background-color: #138496;
}

.button svg {
  padding: 0 5px 0 3px;
}

.controls {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  z-index: 5;
  padding: 5px;
}
