.button {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0;
  height: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.button:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.row {
  height: 40px;
  display: flex;
  align-items: center;
}
